* {
    margin: 0;
    box-sizing: border-box;

    max-width: 100vw;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5em auto;
}

header {
    margin-bottom: 2em;
}


#get-number , #get-numbers{
    width: 100%;
}

span {
    color: black;
}

#add, #rest {
    color: #000;
}

#resultContainer {
    background-color: pink;
}
